<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <!-- <button><div class="navicon"></div></button> -->
        <ul class="visible-links">
          <!-- <li class="masthead__menu-item"><a href="">Homepage</a></li> -->
          <li class="dark-mode-icon"><i class="fas fa-adjust", style="cursor: pointer;"></i></li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ link.url }}"  target="_blank">{{ link.title }}</a></li>
          {% endfor %}
          <!-- <li class="flexible-space"></li> -->
          <script>
            document.addEventListener('DOMContentLoaded', () => {
              const toggleButton = document.querySelector('.dark-mode-icon');
              const metaTag = document.querySelector('#theme-color');
              toggleButton.addEventListener('click', () => {
                document.documentElement.classList.toggle('dark-mode');
                document.body.classList.toggle('dark-mode');
                if (document.documentElement.classList.contains('dark-mode')) {
                  console.log('dark theme')
                  metaTag.setAttribute('content', '#2c2c2c'); // Dark mode color
                } else {
                  console.log('light theme')
                  metaTag.setAttribute('content', '#ffffff'); // Light mode color
                }
              });
            });
          </script>
        </ul>
        <!-- <ul class="hidden-links hidden"></ul> -->
      </nav>
    </div>
  </div>
</div>