<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <!-- <button><div class="navicon"></div></button> -->
        <ul class="visible-links">
          <li class="dark-mode-icon"><i class="fas fa-adjust"></i></li>
          <script>
            document.addEventListener('DOMContentLoaded', () => {
              const toggleButton = document.querySelector('.dark-mode-icon');
              toggleButton.addEventListener('click', () => {
                console.log('dark-mode-icon clicked')
                document.documentElement.classList.toggle('dark-mode');
                document.body.classList.toggle('dark-mode');
              });
            });
          </script>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ link.url }}"  target="_blank">{{ link.title }}</a></li>
          {% endfor %}
          <!-- <li class="flexible-space"></li> -->
        </ul>
        <!-- <ul class="hidden-links hidden"></ul> -->
      </nav>
    </div>
  </div>
</div>